/*CSS PAG LOGIN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
}

.container {
    display: flex;
    min-height: 100vh;
}

.areaverde {
    width: 50%;
    background: #2ECC71;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.areaverde-conteudo {
    max-width: 500px;
}

.areaverde h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: rgba(26, 24, 24, 0.922);
}

.areaverde p {
    font-size: 22px;
    line-height: 1.6;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 450px;
    padding: 40px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.card-login h2 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 28px;
}

.subtitulo {
    text-align: center;
    color: #999;
    margin-bottom: 25px;
    font-size: 15px;
}

.btn-branco {
    width: 100%;
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
    padding: 14px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    transition: 0.2s;
}
.btn-branco img, .btn-azul img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.btn-azul {
    width: 100%;
    background: #3b5998;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    transition: 0.2s;
}

.btn-branco:hover {
    background: #f7f7f7;
    transform: scale(1.05); 
}
.btn-azul:hover {
    background: #2d4373;
    transform: scale(1.05); 

}
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #bbb;
    font-size: 14px;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #eee;
}

.divider span {
    padding: 0 15px;
}

.input-group {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.esqueci-senha {
    text-align: right;
    margin-bottom: 20px;
}

.esqueci-senha a {
    color: #888;
    text-decoration: none;
    font-size: 14px;
}

.esqueci-senha a:hover {
    text-decoration: underline;
}

.btn-verde {
    width: 100%;
    border: none;
    padding: 18px;
    border-radius: 12px;
    background: #2ECC71;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-verde:hover {
    background: #008000;
    transform: scale(1.05); 

}

.bottom-links {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.bottom-links a {
    color: #2ECC71;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.bottom-links a:hover {
    text-decoration: underline;
}

/*----------------------------------- FIM CSS PAG LOGIN-------------------------------------------- */
/*___________________________________PAG SENHA_______________________________________________________*/
/* Reset Global */

.header-cadastro{
    height: 180px;
    background: #2ECC71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-mercado{
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: -50px;
    padding-bottom: 40px;
}

.form-mercado .card-login{
    width: 700px;
}

.linha{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

